<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.EpicToDo"
        tools:targetApi="31">

        <!--登录Activity-->
        <activity
            android:name=".v.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--实际登录页面-->
        <activity
            android:name=".v.LoginingActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".v.LoginProblem"
            android:exported="true">

        </activity>

        <!--主页Activity-->
        <activity
            android:name=".v.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>

        <!--统计页面Activity-->
        <activity
            android:name=".v.StatisticsActivity"
            android:exported="true">

        </activity>

        <!--设置页面-->
        <activity
            android:name=".v.SettingActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

    </application>

</manifest>